# MongoDB Configuration
MONGODB_URL=mongodb://localhost:27017
MONGODB_DATABASE=PReQual

# GitHub Configuration
GH_TOKENS=

# SonarQube Configuration
SONAR_URL=http://localhost:9000
SONAR_DOCKER_URL=http://prequal-sonar:9000
SONAR_TOKEN=

# Application Configuration
WORKSPACE=./workspace
DOCKER_NET=prequal-network
